@model Dictionary<string, string>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    li.nav-item:last-child {
        position: absolute;
        right: 20px;
    }

    nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.border-bottom.box-shadow.mb-3 {
        background-color: #1f5ac5 !important;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">tutorial_02</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary " asp-area="" asp-controller="Home" asp-action="@item.Key">@item.Value</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>