<h1>Contact </h1>
<div>
    <form method="post" action=@Url.Action("Create")>
        <div>
            <label>Name: </label>
            <input type="text"  name="name" />
        </div>
        <div>
            <label>Phone: </label>
            <input type="text" name="phone" />
        </div>
        <input type="submit" name="Create" />
    </form>
</div>