@model IEnumerable<tutorial_02.Models.Contact>
<h1>Contact view</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Phone</td>
    </tr>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.Name</td>
            <td>@contact.Phone</td>
        </tr>
    }

</table>

<a href="@Url.Action("AddContact")"> Add new contanct</a>
