<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
@model practice_03.Models.AccountInfo

@{
    ViewData["Title"] = "AddAccount";
}

<header>
    @{
        await Html.RenderPartialAsync("../PartialViews/_registrationPartial.cshtml");
    }
</header>
<div class="row">
<div class="col-md-4">
    <h1>Registration Info</h1>
    <form asp-action="Success">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Question: </label>
            <select asp-for="CodeQuestion">
                <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                <option value="What is your favorite color?">What is your favorite color?</option>
                <option value="What town were you born in?">What town were you born in?</option>
                <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            </select>
            <span asp-validation-for="CodeQuestion" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label asp-for="CodeAnswer" class="control-label">Answer: </label>

            <input asp-for="CodeAnswer" class="form-control" />
            <span asp-validation-for="CodeAnswer" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a class="btn btn-primary" role="button" href="~/Index" style="color:inherit">Back</a>
        </div>
    </form>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
